@model IEnumerable<WordCountTextFile.Models.TextModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Program to count the number of instances of each word in a text file. Top 10 words are displayed</p>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Word)</th>
            <th>@Html.DisplayNameFor(model => model.Count)</th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model)
    {
        <tr>
            <td>@item.Word</td>
            <td>@item.Count</td>
        </tr>
    }
    </tbody>
</table>
